.container, .container1, .container2{
    display: flex;

}

.container{
    margin-bottom: 40px;
}

.container1{
    margin-bottom: 40px;
}

.div1{
    background-color: lightblue;
    width: 200px;
}

.div2{
    background-color: lightpink;
    width: 75px
}

.item1{
    background-color: lightblue;
    width: 50px;
}

.item2{
    background-color: lightpink;
    flex: 1;
}

.item3{
    background-color: lightblue;
    width: 75px;
}

.container2{
    justify-content: space-between;
    margin-bottom: 60px;
}

.item1-{
    background-color: lightblue;
}

.item2-{
    background-color: lightpink;
}

.item3-{
    background-color: lightblue;
}

.item4-{
    background-color: lightpink;
}

.container3{
    border: solid 1px gray;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.item1--{
    background-color: lightpink;
}

.item2--{
    background-color: lightpink;
}
