p{
    margin: 0;
    font-family: Arial;
}
.profile-container{
    width: 120px;
    display: inline-block;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-right: 5px;
    margin-bottom: 10px;
}

.profile-preview-container{
    display: inline-block;
    margin-bottom: 3px;
}

.profile-picture{
    width: 120px;
}

.profile-name{
    font-weight: bold;
    margin-bottom: 1px;
}


.mini-profile-picture{
    width: 17px;
    height: 17px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}

.profile-infos-container{
    width: 200px;
    padding-left: 3px;
}

.mutual-friends-container{
    display: inline-block;
    vertical-align: middle;

}

.mutual-friends{
    font-size: 10px;
    color: gray;
}

.mini-profile-picture-container{
    display: inline-block;
}

.add-friend-button{
    margin-top: 3px;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 4px 12px;
    background-color: rgb(11, 58, 202);
    color: white;
}

.add-friend-container{
    margin-top: 2px;
    margin-bottom: 4px;
}
