
/* 
.sidebar{
    background-color: green;
    color: white;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    width: 100px;
    }
    
.modal{
    background-color: white;
    padding: 20px 20px;
    width: 400px;
    border-radius: 10px;
}

.title{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 23px;

}

.content{
    margin-bottom: 15px;
}

div{
    font-family: Arial;
    body{
    padding-bottom: 3000px;
    }
} 

div{
    font-family: Arial;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    padding: 10px 50px;
}


.left-section{
    display: flex;
    align-items: center;
    flex: 1;
}




.profile-picture{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 9px;
}

.name{
    font-weight: bold;
}


.right-section{
    margin-right: 10px;
}

.add-friend-button, .message-friend-button{
    border: none;
    font-weight: bold;
    padding: 10px 13px;
    border-radius: 7px;
}

.add-friend-button{
    background-color: rgb(10, 182, 239);
    color: white;
    margin-right: 5px;
}

.message-friend-button{
    background-color: rgb(215, 215, 215);
    color: black;
}
*/

body{
    height: 3000px
}

div{
    font-family: Arial;
}

.sidebar1{
    position: fixed;
    background-color: rgb(33, 33, 33);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    padding-top: 15px;
}

img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 4px;
}

.sidebar2{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 70px;
    width: 180px;
    background-color: rgb(55, 55, 55);
}

.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    padding: 15px 20px 0px 20px;
    align-items: center;
}

.info{
    color: white; 
    font-size: 14px;
}

.plus-sign{
    color: rgb(150, 150, 150);
    font-size: 25px;
}


.row{
    display: flex;
    font-size: 14px;
    line-height: 33px;
    padding-left: 20px;
    color: rgb(150, 150, 150);
}

.hash{
    margin-right: 6px;
}