.image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}


.d7{
    border: solid 1px gray;
    font-size: 17px;
    padding: 10px 15px;
    padding-right: 20px;
    border-radius: 10px;
    margin-right: 25px;
}

.e7{
    border: none;
    padding: 10px 10px;
    padding-right: 0;
    width: 325px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.232);
    border-radius: 25px;
}

.f7{
    font-family: Arial;
}


.email{
    margin: 0;
    color: gray;
    margin-bottom: 4px;
    font-size: 13px;
}

.email-bar{
    border: solid 1.5px;
    width: 250px;
    padding: 6px 13px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contract{
    margin: 0;
    color: gray;
    font-size: 11px;
    margin-bottom: 8px;
}

.agree-button{
    color: white;
    background-color: rgb(90, 90, 226);
    border: none;
    padding: 13px 100px;
    border-radius: 17px;
}

.g7{
    font-family: Arial;
    width: 375px;
}

.tweet-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
    vertical-align: middle;
}

.text-box{
    border: none;
    padding-right: 50px;
    font-size: 14px;
    margin-left: 5px;
}

.tweet-button{
    color: white;
    background-color: rgb(39, 177, 232);
    border: none;
    padding: 5px 9px;
    border-radius: 15px;
    font-weight: bold;
}