body{
    padding-bottom: 1000px;
    padding-top: 100px;
    padding-left: 100px;
}

.header{
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
}

.side-bar{
    background-color: rgb(186, 255, 186);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 100px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}